.modal{
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body{
    padding: 2rem;
    background: #ffffff;
    width: 400px;
    border-radius: 4px;
    height: 200px;
    text-align: center;
}